# Ignorar dependências do Node
backend/node_modules/
backend/dist/
frontend/node_modules/
frontend/dist/


# Ignorar o banco de dados local do SQLite
backend/estoque.db
backend/estoque.db-journal

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
